html, body {
  height: 100%; }

body {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); }

.app-wrapper {
  max-width: 360px;
  margin: 0 auto; }

* {
  box-sizing: border-box; }

body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 16px; }

.create-item {
  width: 100%;
  margin: 3em auto 0;
  float: left;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); }

.create-item__form {
  padding: 1em;
  background: #efefef;
  border: none;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.05em;
  width: 66%; }

.create-item__button {
  background: #fbc2eb;
  border: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  color: #ededed;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  width: 34%; }
  .create-item__button:hover {
    background: #fb66eb; }

.task__wrapper {
  clear: both;
  float: left;
  margin: 1em 0;
  padding: 0;
  width: 100%; }

.task {
  background: rgba(255, 255, 255, 0.39);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  letter-spacing: 0.05em;
  list-style-type: none;
  margin: 0 0 1em;
  overflow: hidden;
  position: relative; }

.task__text {
  color: #333333;
  display: block;
  float: right;
  padding: 1em;
  text-align: left;
  width: 100%; }

.task__check {
  display: block;
  background: #a6c1ee;
  color: #ededed;
  cursor: pointer;
  float: left;
  opacity: 0.9;
  position: absolute;
  text-align: center;
  transition: transform 0.3s ease-in;
  transform: translateX(-100%);
  width: 100%; }
  .task:hover .task__check {
    transform: translateX(0); }

.task__check a {
  display: block;
  padding: 1em;
  text-decoration: none;
  transition: all 0.4s ease-in; }
  .task__check a:hover {
    transform: scale(1.5); }

.hero {
  color: #ffffff;
  font-size: 4em;
  letter-spacing: 0.05em;
  margin: 5% auto 0;
  text-align: center;
  text-shadow: #cccccc 0px 1px 0px, #c9c9c9 0px 2px 0px, #bbbbbb 0px 3px 0px, #b9b9b9 0px 4px 0px, #aaaaaa 0px 5px 0px, rgba(0, 0, 0, 0.0980392) 0px 6px 1px, rgba(0, 0, 0, 0.0980392) 0px 0px 5px, rgba(0, 0, 0, 0.298039) 0px 1px 3px, rgba(0, 0, 0, 0.14902) 0px 3px 5px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.0980392) 0px 20px 20px;
  text-transform: uppercase; }

.login {
  display: block;
  border: 1px solid #ffffff;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin: 2em auto;
  max-width: 360px;
  padding: 1em 2em;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1); }

.login--facebook {
  background-color: #3b5998;
  border: 1px solid #8b9dc3;
  color: #ffffff; }
  .login--facebook:hover {
    border: 1px solid #3b5998;
    background-color: #8b9dc3; }
  .login--facebook:active {
    background: #f7f7f7;
    color: #3b5998; }

.login--logout {
  color: #ffffff;
  background: #c5515f;
  border: 1px solid #983e49;
  width: 100%; }
  .login--logout:hover {
    color: #ececec;
    background: #ce8089; }
  .login--logout:active {
    background: #ffffff;
    color: #c5515f; }
