.login {
	display: block;
	border: 1px solid #8b9dc3;
	cursor: pointer;
	font-weight: 600;
	letter-spacing: 0.05em;
	margin: 2em auto;
	max-width: 360px;
	padding: 1em 2em;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

.login--facebook {
	background-color: #3b5998;
	color: #fff;

	&:hover {
		border: 1px solid #3b5998;
		background-color: #8b9dc3;
	}

	&:active {
		background: #f7f7f7;
		color: #3b5998;
	}
}