.profile {
	background: #ededed;
	margin: 2em 0 0;
	padding: 1em;
}

.profile__pic {
	float: left;
	margin-right: 1em;
}

.profile__name {
	float: left;
	margin-top: 0;
}

.profile__completed {
	display: block;
	float: left;
}

.profile__completed__count {

}